.project-card-container .project-card-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.project-card-container .project-card-wrapper .secondary {
    display: flex;
}

.project-card-container .project-card-wrapper .secondary .image-wrapper img {
    height: 40vh;
}

.project-card-container .project-card-wrapper .primary .image-wrapper img {
    height: 80vh;
}

.project-card-container .project-card-wrapper .primary .project {
    background-color: black;
    font-family: "Grstk-Mega-txt";
    font-family: Arial, Helvetica, sans-serif;

    width: 75vw;
    margin: 20px;
    border-radius: 25px;
}
.project-card-container .project-card-wrapper .primary .project h2 {
    font-size: 62px;
    font-family: "Grstk-Mega-pr";
    /* font-family: Arial, Helvetica, sans-serif; */
    color: white;
    margin-bottom: 0;
    color: transparent;
    margin-top: 20px;
    -webkit-background-clip: text;
    background-clip: text;
    background-image: linear-gradient(180deg, #dbcedb, #60657f);
    background-image: linear-gradient(180deg,#ffb6ff,#b344ff);
    font-weight: bold;
}

.project-card-container .project-card-wrapper  .project .content{
    background-color: #161617;
    border-radius: 17px;
    padding: 20px;
}
.project-card-container .project-card-wrapper .project .content {
    color: rgb(145, 145, 145);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin: 30px;
    margin-bottom: 0;
}


.project-card-container .project-card-wrapper .primary .project .content p{
    padding-left: 30px;
}
.project-card-container .project-card-wrapper .image-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 30px;
}

.project-card-container .project-card-wrapper .project .content ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    margin-top: 0;
}
.project-card-container .project-card-wrapper .project .content ul li {
    padding: 6px;
}
.project-card-container .project-card-wrapper .project .content .links a{
    color: white;
    padding: 10px
}


.project-card-container .project-card-wrapper .secondary .project{
    background-color: #000;
    margin: 20px;
    border-radius: 25px;
    
    font-family: Arial, Helvetica, sans-serif;
    width: 42vw;
    margin-left: 0;
    margin-right: 0;

}
.project-card-container .project-card-wrapper .secondary .project h2{
    font-size: 50px;
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    background-image: linear-gradient(180deg,#ffb6ff,#b344ff);
    margin-bottom: 0;
    margin-top: 20px;
    font-family: Grstk-Mega-pr;
}

.project-card-container .project-card-wrapper .project .content li{

    color: white;
}

.project-card-container .header{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 32px;
    border-left: 8px solid red;
    margin-left: 40px;
    padding-left: 5px;
}