.projects-constainer {
    color: white;
}
.projects-wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    
}
.projects-container{
    font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
}

.projects-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    flex-direction: column;
    position: relative;
    margin: 0px 4vw;

}


.projects-container .projects-wrapper .project{
    display:flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    perspective: 2000px;
    perspective-origin: 50% 50%;
    transform-style: preserve-3d;
    height: 65vh;
}

.projects-container .projects-wrapper .project img{
    height: 50vh;
    transform: rotateY(-30deg) translateZ(80px);
    transition: all ease-in 0.7s;
   

}
.projects-container .projects-wrapper .project img:hover{
  
    transform: rotateY(-10deg) translateZ(80px);
   

}
.projects-container .projects-wrapper .project .languages{
    list-style: none;
    display: flex;
    flex-direction: row;
}

.projects-container .projects-wrapper .project .languages li{
    padding: 0px 6px;
}

.projects-container .projects-wrapper .project .header{
    font-size: 32px;
    font-weight: bold;
    padding-bottom: 6px;
}
.projects-container .projects-wrapper .project .content{
    font-size: 17px;
    padding:0px 40px;

}

.projects-container .projects-wrapper .project:nth-child(2) img:nth-child(1){
    transform: rotateY(30deg) translateZ(80px);
}
.projects-container .projects-wrapper .project:nth-child(2) img:nth-child(1):hover{
    transform: rotateY(10deg) translateZ(80px);
}