@font-face {
    font-family: "Grstk-Mega-pr";
    src: url("../../fonts/TRYGrtsk-[wght,wdth,slnt].ttf")
        format("truetype-variations");
    font-weight: 700; /* default weight */
    font-style: normal; /* default style */
    font-stretch:140% ;
    font-variation-settings: "wdth" 1000, "wght" 700, "slnt" 0;
}
@font-face {
    font-family: "Grstk-Mega-txt";
    src: url("../../fonts/TRYGrtsk-[wght,wdth,slnt].ttf")
        format("truetype-variations");
    font-weight: 400; /* default weight */
    font-style: normal; /* default style */
    font-stretch:102% ;
    font-variation-settings: "wdth" 1000, "wght" 700, "slnt" 0;
}


.projects-constainer {
    color: white;
}
.projects-wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    
}
.projects-container{
    /* font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif; */
    font-family: Grstk-Mega-txt;

}

.projects-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    flex-direction: column;
    position: relative;
    margin: 0px 4vw;

}


.projects-container .projects-wrapper .project{
    display:flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    perspective: 2000px;
    perspective-origin: 50% 50%;
    transform-style: preserve-3d;
    height: 65vh;
}

.projects-container .projects-wrapper .project img{
    height: 50vh;
    transform: rotateY(-30deg) translateZ(80px);
    transition: all ease-in 0.7s;
   

}
.projects-container .projects-wrapper .project img:hover{
  
    transform: rotateY(-10deg) translateZ(80px);
   

}
.projects-container .projects-wrapper .project .languages{
    list-style: none;
    display: flex;
    flex-direction: row;
    padding: 0;
    padding-left:10px;
}

.projects-container .projects-wrapper .project .languages li{
    padding: 0px 6px;
}

.projects-container .projects-wrapper .project .header{
    font-size: 32px;
    font-family: Grstk-Mega-pr;
    font-weight: bold;
    color: white;
    padding-bottom: 6px;
}
.projects-container .projects-wrapper .project .content{
    color:#a1a1a6;
    font-size: 17px;
    padding:0px 40px;

}

.projects-container .projects-wrapper .project .content p{
    margin-top: 0;
    padding-left: 10px;

}

.projects-container .projects-wrapper .project .content .links a{
    background-color: black;
    border: none;
    outline: none;
    color: white;
    cursor:pointer;
    margin:10px;
}

.projects-container .projects-wrapper .project:nth-child(2) img:nth-child(1){
    transform: rotateY(30deg) translateZ(80px);
}
.projects-container .projects-wrapper .project:nth-child(2) img:nth-child(1):hover{
    transform: rotateY(10deg) translateZ(80px);
}