@font-face {
  font-family: 'trip-sans';
  src: url('../../fonts/trip-sans-variable.ttf') format('truetype-variations');
  font-weight: 500;
}
@font-face {
  font-family: 'Menlo';
  src: url('../../fonts/Menlo-Regular.ttf') format('truetype-variations');
  font-weight: 500;
}
@font-face {
  font-family: 'Roboto';
  src: url('../../fonts/Roboto-Regular.ttf') format('truetype-variations');
  font-weight: 500;
}
@font-face {
    font-family: 'Zeyada';
    src: url('../../fonts/Zeyada.ttf') format('truetype-variations');
    font-weight: 500;
  }

  @font-face {
    font-family: 'Poppins';
    src: url('../../fonts/Poppins-Regular.ttf') format('truetype-variations');
    font-weight: 500;
  }


body {
  /* change back to white to see border curves for about  */
  background-color: black;
}
.project-container {
  color: black;
  background-color: white;
  font-family: trip-sans;
  padding-top: 5vh;
}

.project-rows {
  margin-top: 8rem;
}

.project-section-title-container {
  background-color: white;
  position: sticky;
  z-index: 1001;
  top: 0;
  bottom: 0;
  height: auto;
}

.project-section-title-wrapper {
  position: static;
  width: 100%;
  height: 100%;
  z-index: 10000;
  padding: 30px;
}
.project-section-title-wrapper > h1 {
  margin: 0;
  font-size: 70px;
}
.project-collection {
  transition: background-color ease 0.5s;
  /* transition: color ease 0.5s; */
}
.description-row {
  padding: 2rem 1rem;
  border-top: 1px solid;
  border-radius: 0;
  display: flex;
  width: 100%;
  border-radius: 0;
  justify-content: space-between;
  border-color: black;
  align-items: center;
}
.project-collection:nth-child(5) > .description-row {
  border-bottom: 1px solid;
  border-color: black;
}

.description-row > h3 {
  margin: 0px;
  font-size: 1.5rem;
  flex: 0.7;
  font-weight: 400;
}
.project-collection > .description-row > .project-link > a > button {
  padding: 0.5rem;
  border-radius: 8px;
  color: #000;
  text-transform: uppercase;
  background-color: #fff;
  border: 1.5px solid #000;
  font-size: 0.7rem;
  font-weight: bold;
  margin-left: 4px;
  cursor: pointer;
}
.project-collection > .description-row > .project-link {
  display: flex;
  justify-content: flex-end;
  flex: 1;
}

.project-collection > .description-row > .project-image-snippet {
  z-index: 99;
  height: 0;
  align-items: center;
  display: flex;
  flex: 1;
  position: -webkit-sticky;
  position: sticky;
  top: 50vh;
}

.project-collection > .description-row > .project-image-snippet > img {
  position: fixed;
  vertical-align: middle;
  top: 26.5vh;
  display: none;
  margin-top: 2rem;
  height: 55vh;
  border-radius: 8px;
  /* transition: opacity ease 1s; */
}

.project-collection > .description-row > .tech-used {
  display: flex;
  font-size: 25px;
  margin-right: 20px;
  width: 115px;
  border-right: solid 1.4px;
  align-items: center;
}

.project-collection > .description-row > .tech-used > .icon {
  padding-right: 7px;
  display: flex;
}

.project-image-desc-text {
  display: flex;
  flex-direction: column;
  position: fixed;
  bottom: 13.15vh;
  margin-left: 0.7vw;
}

.project-collection:nth-child(2)
  > .description-row
  > .project-image-snippet
  > .project-image-desc-text,
.project-collection:nth-child(4)
  > .description-row
  > .project-image-snippet
  > .project-image-desc-text {
  color: black;
}

.project-collection:nth-child(1)
  > .description-row
  > .project-image-snippet
  > .project-image-desc-text
  > h3 {
  font-family: Zeyada;
  line-height: 19px;
}

.project-collection:nth-child(2)
  > .description-row
  > .project-image-snippet
  > .project-image-desc-text
  > h3 {
  font-family: Menlo;
}

.project-collection:nth-child(3)
  > .description-row
  > .project-image-snippet
  > .project-image-desc-text
  > h3 {
  font-family: Poppins;
  line-height: 21px;

}
.project-image-desc-text > h3 {
  margin: 0;
  transition: none;
}

.project-image-desc-text > ul {
  list-style: none;
  margin: 0 0 0 0;
  display: flex;
  padding: 0;
  text-transform: uppercase;
  /* padding-left: 1vw; */
}
.project-image-desc-text > ul > li {
  border-radius: 5px;
  font-size: 10px;
  border: 1.5px solid;
  border-color: white;
  margin: 5px;
  padding: 4px;
}

.project-image-desc-text > ul > li:nth-child(1) {
  margin-left: 0;
}

.project-collection:nth-child(2)
  > .description-row
  > .project-image-snippet
  > .project-image-desc-text
  > ul
  > li,
.project-collection:nth-child(4)
  > .description-row
  > .project-image-snippet
  > .project-image-desc-text
  > ul
  > li {
  border-color: black;
}

@media screen and (min-height: 600px) {
  .project-image-desc-text {
    bottom: 14.15vh;
  }
}

@media screen and (min-height: 675px) {
  .project-image-desc-text {
    bottom: 14.7vh;
    margin-left: 1vw;
  }
  .project-image-desc-text > h3 {
    font-size: 20px;
  }
  .project-image-desc-text > ul > li {
    font-size: 12px;
  }
}

@media screen and (min-height: 785px) {
  .project-image-desc-text {
    bottom: 16vh;
  }
  .project-image-desc-text > h3 {
    font-size: 25px;
  }
  .project-image-desc-text > ul > li {
    font-size: 14px;
  }
}
