@font-face {
    font-family: "trip-sans-reg";
    src: url("../../fonts/trip-sans.otf") format("opentype");
}

.intro-container{
    padding-top: 10vh;
    padding-bottom: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 1px;
    border-radius: 0px 0px 20px 20px;
    border-color: black;
    background-color: black;
}
.intro-wrapper {
    display: flex;
    color: white;
    padding: 30px;
}
.left-about {
    flex: 1;
    display: flex;
}
.left-about > .about-title {
    font-size: 70px;
    font-family: trip-sans;
}

.right-desc {
    flex: 2;
    font-size: 27px;
    font-family: trip-sans-reg;
    font-weight: bold;
}

.right-desc>.desc-content>sub , .right-desc>.desc-content>sup{
    font-size: 18px;
    font-weight: bold;
}
.right-desc>.desc-content{
    width: 100%;
}