@font-face {
    font-family: "trip-sans-reg";
    src: url("../../fonts/trip-sans.otf") format("opentype");
}

.intro-container{
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.intro-wrapper {
    display: flex;
    color: white;
    padding: 30px;
}
.left-about {
    flex: 0.6;
    display: flex;
}
.left-about > .about-title {
    font-size: 80px;
    font-family: trip-sans;
}

.right-desc {
    flex: 1.4;
    font-size: 30px;
    font-family: trip-sans-reg;
    font-weight: bold;
}

.right-desc>.desc-content>sub{
    font-size: 20px;
}