@font-face {
  font-family: 'trip-sans-reg';
  src: url('./fonts/trip-sans.otf') format('opentype');
}
@font-face {
  font-family: 'catcheye';
  src: url('./fonts/Catchye.otf') format('opentype');
}

@font-face {
  font-family: 'skiena';
  src: url('./fonts/Skeina.otf') format('opentype');
}

@font-face {
  font-family: 'michelle';
  src: url('./fonts/Michelle.otf') format('opentype');
}
@font-face {
  font-family: 'fantasy';
  src: url('./fonts/FANTASY\ MAGIST.otf') format('opentype');
}
@font-face {
  font-family: 'minal';
  src: url('./fonts/Minal.otf') format('opentype');
}
@font-face {
  font-family: 'saunde';
  src: url('./fonts/Saunde.otf') format('opentype');
}
@font-face {
  font-family: 'flowrise';
  src: url('./fonts/FLOWRISE.otf') format('opentype');
}

@font-face {
  font-family: 'Grstk-Mega-Brand';
  src: url('./fonts/TRYGrtsk-[wght,wdth,slnt].ttf')
    format('truetype-variations');
  font-weight: 800; /* default weight */
  font-style: normal; /* default style */
  font-stretch: 120%;
}

@font-face {
  font-family: 'trip-sans';
  src: url('./fonts/trip-sans-variable.ttf') format('truetype-variations');
  font-weight: 500;
}
@font-face {
  font-family: 'Menlo';
  src: url('./fonts/Menlo-Regular.ttf') format('truetype-variations');
  font-weight: 500;
}
@font-face {
  font-family: 'Zeyada';
  src: url('./fonts/Zeyada.ttf') format('truetype-variations');
  font-weight: 500;
}

@font-face {
  font-family: 'Poppins';
  src: url('./fonts/Poppins-Regular.ttf') format('truetype-variations');
  font-weight: 500;
}

@font-face {
  font-family: 'Grstk-Mega';
  src: url('./fonts/TRYGrtsk-[wght,wdth,slnt].ttf')
    format('truetype-variations');
  font-weight: 700; /* default weight */
  font-style: normal; /* default style */
  font-stretch: 200%;
  font-variation-settings: 'wdth' 1000, 'wght' 700, 'slnt' 0;
}
